* {
  box-sizing: border-box;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: #1c1e21;
  background-color: #f0f2f5;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 980px;
}

main {
  display: flex;
  gap: 32px;
  padding: 72px 0 112px 0;
}

main > * {
  flex: 1 1 50%;
}

main .left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

main .left h1 {
  font-size: 28px;
  line-height: 32px;
  font-weight: 400;
}

main .left img {
  height: 106px;
  margin: -28px;
}

main .right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5%;
}

.card {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;

  width: 100%;
  background-color: #fff;
  display: flex;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 8px;
}

.card-item {
  display: block;
  text-decoration: none;
  text-align: center;
  width: 330px;
  padding: 14px 16px;
  border-radius: 6px;

  font-size: 17px;
  line-height: 20px;
  color: #1d2129;
  font-weight: 400;
}

input.card-item {
  border: 1px solid #dddfe2;
}

.card-item.blue {
  background-color: #1877f2;
  border: none;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
  color: #fff;
  transition: 200ms cubic-bezier(0.08, 0.52, 0.52, 1) background-color,
    200ms cubic-bezier(0.08, 0.52, 0.52, 1) box-shadow,
    200ms cubic-bezier(0.08, 0.52, 0.52, 1) transform;
}

.card-item.blue:hover {
  background-color: #166fe5;
}

a.card-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  color: #1877f2;
}

a.card-item:hover {
  text-decoration: underline;
}

.card-item.green {
  background-color: #42b72a;
  border: none;
  font-size: 17px;
  font-weight: 700;
  cursor: pointer;
  color: #fff;
  transition: 200ms cubic-bezier(0.08, 0.52, 0.52, 1) background-color,
    200ms cubic-bezier(0.08, 0.52, 0.52, 1) box-shadow,
    200ms cubic-bezier(0.08, 0.52, 0.52, 1) transform;
  width: 220px;
}

.card-item.green:hover {
  background-color: #36a420;
}

.right h3 {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #1c1e21;
}

.right h3 a {
  text-decoration: none;
  color: inherit;
  font-weight: 700;
}

.right h3 a:hover {
  text-decoration: underline;
}

.right hr {
  width: 100%;
  background-color: #dadde1;
  border: none;
  height: 1px;
}

@media (max-width: 1060px) {
  main {
    flex-direction: column;
    max-width: 396px;
    margin: auto;
  }

  main .left {
    align-items: center;
    text-align: center;
  }
a {
  text-decoration: none;
  color: #8a8d91;
}

footer {
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 158px;
  width: 100%;
  padding: 20px;
}

footer .footer-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 980px;
}

footer .upper {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

footer .upper .line {
  border-bottom: 1px solid #dddfe2;
  width: 980px;
}

footer .upper span {
  color: #737373;
}

footer a:hover {
  text-decoration: underline;
}

footer .upper .plus-btn {
  background-color: #f5f6f7;
  background-image: url("plus.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid #ccd0d5;
  border-radius: 2px;
  outline: none;
  width: 30px;
  height: 20px;
  cursor: pointer;
}

footer .upper .plus-btn:hover {
  background-color: #e9e9ed;
  transition: 0.5s ease-in-out;
}

footer .middle {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

footer .lower {
  margin-top: 10px;
}

footer .lower span {
  color: #8a8d91;
}
