@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
  --accent: #6001d2;
}
* {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  position: relative;
}
a {
  text-decoration: none;
  color: #232a31;
  font-weight: 600;
  letter-spacing: 0.6px;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-color: #fff;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  width: 100%;
}

nav .upper {
  display: flex;
  width: 1220px;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

nav .upper .left {
  display: flex;
  gap: 40px;
}

.search-bar {
  display: flex;
  border: 1px solid #188fff;
  height: 44px;
  overflow: hidden;
  border-radius: 4px;
}
.search-bar input {
  height: 44px;
  border: none;
  width: 600px;
}
.search-button {
  background-image: url(images/search-icon-sprite.png);
  width: 96px;
  height: 44px;
  padding: 1px 0 1px 4px;
  background-position: center 13px;
  background-size: 22px;
  background-repeat: no-repeat;
  background-color: #188fff;
  cursor: pointer;
  border: 1px solid transparent;
}

nav .upper .right {
  display: flex;
  align-items: center;
  gap: 30px;
}

.sign-in {
  background-color: #fff;
  border: 2px solid var(--accent);
  border-radius: 14px;
  width: 80px;
  height: 27px;
  font-size: 12px;
  line-height: 18.2px;
  white-space: nowrap;
  color: var(--accent);
  font-weight: bolder;
  cursor: pointer;
}

.sign-in:hover {
  background-color: var(--accent);
  color: #fff;
}

.bell-icon {
  width: 32px;
  height: 32px;
  background-image: url(images/bell-sprite.png);
  background-position-y: -1667px;
  position: relative;
  cursor: pointer;
}

.bell-icon:hover {
  background-color: rgba(255, 255, 255, 0.5);
  background-blend-mode: overlay;
}

.bell-icon .popup {
  display: none;
  position: absolute;
  width: 370px;
  height: 269px;
  top: 40px;
  right: -10px;
  padding-top: 24px;
  background-color: #fff;
  overflow-y: auto;
  border-radius: 4px;
  border: 1px solid #d8dade;
  box-shadow: 0 2px 8px 0 rgb(0 0 0/36%);
}

/*.bell-icon .square {*/
/*position: absolute;*/
/*top: 44px;*/
/*right: -10px;*/
/*width: 50px;*/
/*height: 50px;*/
/*background-color: #fff;*/
/*transform: rotate(45deg);*/
/*border: 1px solid #d8dade;*/
/*box-shadow: 0 2px 8px 0 rgb(0 0 0/36%);*/
/*}*/

.bell-icon .popup .item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 5px 10px;
}

.bell-icon .popup .item:hover {
  background-color: #c2deff;
}

.bell-icon .popup .heading {
  padding: 5px 10px;
  color: #26282a;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
}

.bell-icon .popup .item .round-image {
  width: 40px;
  height: 40px;
}

.bell-icon .popup .item .image {
  width: 40px;
  height: 40px;
}

.bell-icon .popup .item .info {
  line-height: 1.5;
  font-size: 14px;
  color: #26282a;
}

.bell-icon .popup .item span {
  line-height: 1.67;
  color: #979ba7;
  font-size: 12px;
}

.bell-icon .notification {
  color: red;
  position: absolute;
  right: 0;
  top: -10px;
  font-size: 1.2rem;
  font-weight: 900;
}

nav .upper .mail {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

nav .upper .mail:hover {
  opacity: 0.4;
}

.mail-icon {
  background-image: url(images/bell-sprite.png);
  background-position-y: -1404px;
  width: 23px;
  height: 25px;
}

.mail-icon.popup-container {
  position: relative;
}

.mail-icon.popup-container .popup {
  position: absolute;
  top: 48px;
  right: -44px;
  width: 300px;
  height: 61px;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #d8dade;
  box-shadow: 0 2px 8px 0 rgb(0 0 0/36%);
  pointer-events: none;
  display: none;
}

.mail-icon.popup-container .popup .popup-item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
  width: 300px;
  height: 61px;
}

.mail-icon.popup-container .popup .popup-item a {
  color: #0078ff;
  font-size: 13px;
  font-weight: 700;
  line-height: 19px;
}

.mail-icon.popup-container .popup .popup-item a:hover {
  text-decoration: underline;
}

.mail-icon.popup-container .popup .popup-item span {
  font-size: 13px;
  line-height: 19px;
}

nav .lower {
  background-color: #fff;
  transition: max-height 0.5s ease-in;
  max-height: 59px;
  display: flex;
  gap: 25px;
  padding: 20px 0;
  overflow: hidden;
}
nav .lower.roll-up {
  max-height: 0;
  padding: 0;
  transition: max-height 0.5s ease-out;
}
nav.roll-up {
  box-shadow: rgb(0 0 0/40%) 0 0 10px 0;
}

nav .lower .mail span {
  vertical-align: center;
}
nav .lower .mail svg {
  margin-right: 5px;
  position: relative;
  top: 2px;
  vertical-align: center;
}

main {
  margin: auto;
  width: 1220px;
  margin-top: 151px;
  display: grid;
  grid-template-columns: 912px 308px;
  grid-template-rows: auto;
  gap: 20px;
}
main .right {
  display: flex;
  flex-direction: column;
  gap: 30px;
  position: sticky;
  top: 0px;
  align-self: start;
}

main .right .trending .heading {
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  margin: 0;
}

main .right .items {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

main .right .left-items {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
}

main .right .left-items .item {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

main .right .left-items .item span {
  color: var(--accent);
}

main .right .left-items .item:hover {
  color: var(--accent);
}

main .right .right-items {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
}

main .right .right-items .item {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

main .right .right-items .item span {
  color: var(--accent);
}

main .right .right-items .item:hover {
  color: var(--accent);
}

main .right .left-items .item {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

main .right .weather .headings {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #232a31;
}

main .right .weather .headings .heading {
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
}

main .right .weather .location {
  display: flex;
  align-items: center;
  gap: 5px;
}

main .right .weather .headings .country {
  font-weight: 600;
  font-size: 13px;
  line-height: 17px;
  cursor: pointer;
}

main .right .weather .headings .country:hover {
  color: var(--accent);
}

main .right .weather .weather-items {
  display: flex;
  gap: 50px;
}

main .right .weather .weather-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

main .right .weather .weather-item .title {
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  color: #1d2228;
}

main .right .weather .weather-item .weather-image {
  background-image: url("images/windy_day_night.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50%;
  width: 40px;
  height: 40px;
}

main .right .weather .weather-item .weather-image-second {
  background-image: url("images/scattered_showers_day_night.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50%;
  width: 40px;
  height: 40px;
}

main .right .weather .weather-item .weather-image-third {
  background-image: url("images/partly_cloudy_day.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50%;
  width: 40px;
  height: 40px;
}

main .right .weather .weather-item .temperature {
  display: flex;
  align-items: center;
  gap: 5px;
}

main .right .weather .weather-item .temperature .morning-temp {
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  color: #1d2228;
}

main .right .weather .weather-item .temperature .night-temp {
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  color: #6e7780;
}

main .right .weather a {
  color: #0f69ff;
  font-size: 13px;
  line-height: 17px;
  font-weight: 600;
}

main .right .weather a:hover {
  color: var(--accent);
}

main .right .scoreboard .scoreboard-items {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

main .right .scoreboard a {
  color: #0f69ff;
  font-size: 13px;
  line-height: 17px;
  font-weight: 600;
}

main .right .scoreboard a:hover {
  color: var(--accent);
}

main .right .scoreboard .scoreboard-item {
  position: relative;
  padding: 0 5px;
}

main .right .scoreboard .scoreboard-item:hover {
  background-color: #f0f3f5;
}

main .right .scoreboard .first-titles {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

main .right .scoreboard .first-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
}

main .right .scoreboard .second-title {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 12px;
}

main .right .scoreboard .titles {
  display: flex;
  gap: 20px;
  font-size: 12px;
  font-weight: 600;
  color: #6e7780;
  margin-top: -20px;
  cursor: pointer;
}

main .right .scoreboard .titles .middle {
  color: var(--accent);
  border-bottom: 4px solid var(--accent);
}

main .right .scoreboard .football-text-first {
  display: flex;
  align-items: center;
  gap: 10px;
}

main .right .scoreboard .football-text-first p {
  font-size: 12px;
  line-height: 24px;
  font-weight: 600;
}

main .right .scoreboard .time {
  position: absolute;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  top: 31px;
  right: 0;
}

main .right .scoreboard .football-text-second {
  display: flex;
  align-items: center;
  gap: 10px;
}

main .right .scoreboard .football-text-second p {
  font-size: 12px;
  line-height: 24px;
  font-weight: 600;
}

main .right .scoreboard .scoreboard-image {
  width: 24px;
  height: 24px;
}

main .right .featured-picks .title {
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  cursor: pointer;
}

main .right .featured-picks .title:hover {
  color: #6001d2;
}

main .right .featured-picks .info {
  display: flex;
  align-items: center;
  gap: 10px;
}

main .right .featured-picks .text h4 {
  display: flex;
  flex-direction: column;
  gap: 6px;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: #2f0060;
}

main .right .featured-picks .text h4:hover {
  color: var(--accent);
  cursor: pointer;
}

main .right .featured-picks .text span {
  font-size: 12px;
  line-height: 16px;
  color: #6e7780;
}

main .right .featured-picks img {
  width: 70px;
  height: 70px;
  border-radius: 4px;
}

main .right .horoscope .heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main .right .horoscope .title {
  line-height: 17px;
}

main .right .horoscope .info {
  display: flex;
  gap: 20px;
  align-items: center;
}

main .right .horoscope .info svg {
  width: 80px;
  height: 80px;
}

main .right .horoscope .info span {
  font-weight: 700;
  font-size: 13px;
  line-height: 17px;
}

main .right .horoscope .info h4 {
  font-weight: 300;
  font-size: 12px;
  line-height: 17px;
}

main .right .horoscope a {
  color: #0f69ff;
  font-size: 13px;
  line-height: 17px;
  font-weight: 600;
}

main .right .horoscope a:hover {
  color: var(--accent);
}

main .right .footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding-bottom: 30px;
}

main .right .footer .social-media-icons {
  display: flex;
  gap: 15px;
  cursor: pointer;
}

main .right .footer .links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

main .right .footer .links .link {
  font-size: 13px;
  font-weight: 300;
  line-height: 22px;
  color: #6e7780;
  margin-left: 10px;
}

main .right .footer .links a {
  font-size: 13px;
  font-weight: 300;
  line-height: 22px;
  color: #6e7780;
}

main .right .footer .links .link:hover {
  color: #0078ff;
}
main .left {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
main .left .top-card {
  display: flex;
  border-radius: 10px;
  overflow: hidden;
}

main .left .top-card .text {
  position: relative;
  background-color: #e0e4e9;
  padding: 20px 30px;
  --heading-hover-color: #000;
  cursor: pointer;
}

main .left .top-card .text:hover {
  --heading-hover-color: var(--accent);
}

main .left .top-card .text::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url(images/top-card.webp);
  opacity: 0.24;
  filter: blur(15px);
  transform: scale(1.5) scaleX(-1);
  background-size: cover;
}

main .left .top-card .text .heading {
  font-size: 26px;
  line-height: 34px;
  font-weight: 900;
  color: var(--heading-hover-color);
}

main .left .top-card .text .link {
  font-weight: 900;
  color: var(--heading-hover-color) !important;
}

main .left .top-card .text .link:hover {
  color: var(--heading-hover-color) !important;
}

.cards-row {
  display: flex;
  gap: 10px;
}

.cards-row img {
  width: 100%;
  border-radius: 5px;
}

.cards-row a {
  font-size: 0.75rem;
}

.cards-row a:hover {
  color: var(--accent);
}
.cards-row .card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1 1 20%;
}

.news-card {
  display: flex;
  gap: 20px;
  max-height: 268px;
}

.news-card * {
  margin: 0;
  padding: 0;
}

.news-card > img {
  width: 268px;
  height: 142px;
  border-radius: 5px;
}

.news-card > .body {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.news-card > .body:hover {
  color: var(--accent);
}

.news-card > .body > .top-row {
  display: flex;
  gap: 10px;
}

.news-card > .body > .top-row .blue {
  color: #188fff;
  font-size: 12px;
}

.news-card > .body > .top-row .gray {
  color: #6e7780;
  font-size: 12px;
  font-weight: 200;
}

.news-card > .body > .heading {
  font-size: 18px;
  font-weight: 700;
}

.news-card > .body > .bottom-row {
  display: flex;
  gap: 20px;
}

.inner-news-card {
  display: flex;
  gap: 10px;
  max-height: 68px;
}

.inner-news-card img {
  height: 68px;
  width: 68px;
  border-radius: 5px;
}

.inner-news-card .content {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.inner-news-card .gray-heading {
  color: #6e7780;
  font-size: 12px;
  font-weight: 200;
}

.inner-news-card .main-text {
  font-size: 11px;
}

.padded-sides {
  /*padding: 0 18.2%;*/
}

.visible {
  display: block !important;
}
