@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
  --sharp-blue: #006def;
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  color: #696969;
  background: #eeeeee;
}

a {
  text-decoration: none;
  font: inherit;
  color: inherit;
}

nav {
  border-bottom: 4px solid transparent;
}

nav.centered-parent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  border-bottom: 1px solid #bababa;
}

nav .items {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

nav .items .item {
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid #bababa;
  border-bottom: 3px solid transparent;
  flex: 1 0 auto;
  padding: 10px 0;
  cursor: pointer;
  font-size: 13px;
  font-weight: 700;
  line-height: 31px;
  height: 54px;
  color: #3f3f42;
}

nav .items .item.blue:hover {
  border-bottom: 3px solid #007bc7;
}

nav .items .item.red:hover {
  border-bottom: 3px solid #bb1919;
}

nav .items .item.yellow:hover {
  border-bottom: 3px solid #ffd230;
}

nav .items .item.light-blue:hover {
  border-bottom: 3px solid #88ccee;
}

nav .items .item.purple:hover {
  border-bottom: 3px solid #ed3d7d;
}

nav .items .item.orange:hover {
  border-bottom: 3px solid #ff4900;
}

nav .items .item.green:hover {
  border-bottom: 3px solid #90d200;
}

nav .items .item.dark-blue:hover {
  border-bottom: 3px solid #3f3f42;
}

nav .items .logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

nav .items .small {
  fill: #3f3f42;
}

.heading.centered-parent {
  background-color: #fff;
}

.centered-parent {
  width: 100%;
  display: flex;
  justify-content: center;
}

.centered {
  max-width: 80rem;
  width: 100%;
}

.live {
  float: left;
  display: flex;
  gap: 5px;
  align-items: center;
  color: var(--sharp-blue);
  width: 98px;
  height: 34px;
  margin-right: 10px;
}

.live .circle-wrapper {
  display: flex;
  align-items: center;
  height: 28px;
  width: 28px;
}
.live svg {
  display: inline-block;
  height: 100%;
}

.live .pulsing-circle {
  animation: 1s linear 1s infinite alternate pulsate;
}

.live .text {
  display: inline-block;
  font-weight: 700;
  font-size: inherit;
}

@keyframes pulsate {
  from {
    opacity: 0.9;
  }
  to {
    opacity: 0.2;
  }
}

.row {
  display: flex;
  gap: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #fff;
  width: 616px;
  padding-bottom: 20px;
  margin-top: 15px;
  --card-hover-color: #696969;
  --card-hover-text-decoration: none;
}

.card.second {
  width: 308px;
}

.card.second .heading {
  font-size: 18px;
  line-height: 22px;
}

.card .image {
  width: 100%;
}
.card .heading {
  font-size: 30px;
  margin: 0;
  padding: 0 10px;
  color: var(--card-hover-color);
  text-decoration: var(--card-hover-text-decoration);
}

.card .category {
  padding-left: 10px;
  font-size: 14px;
}

.card .bottom-text {
  display: flex;
  align-items: center;
  gap: 6px;
}

.card .bottom-text svg {
  fill: #696969;
}

.middle {
  display: flex;
  gap: 20px;
}

.middle .card {
  width: 405px;
}

.card:hover {
  --card-hover-color: var(--sharp-blue);
  --card-hover-text-decoration: underline;
}
