@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
  --sharp-blue: #006def;
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  color: #696969;
  background: #eeeeee;
}

a {
  text-decoration: none;
  font: inherit;
  color: inherit;
}

nav {
  border-bottom: 4px solid transparent;
}

nav.centered-parent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  border-bottom: 1px solid #bababa;
}
nav .centered {
  padding: 0;
}

nav .items {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

nav .items .item.left-aligned {
  justify-content: start;
}

nav .items .item.left-aligned .left-padded {
  padding-left: 10px;
}

nav .items .item {
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid #bababa;
  border-bottom: 3px solid transparent;
  flex: 1 0 auto;
  cursor: pointer;
  font-size: 13px;
  font-weight: 700;
  line-height: 31px;
  color: #3f3f42;
  padding: 5px 0;
}

nav .items .item.blue:hover {
  border-bottom: 3px solid #007bc7;
}

nav .items .item.red:hover {
  border-bottom: 3px solid #bb1919;
}

nav .items .item.yellow:hover {
  border-bottom: 3px solid #ffd230;
}

nav .items .item.light-blue:hover {
  border-bottom: 3px solid #88ccee;
}

nav .items .item.purple:hover {
  border-bottom: 3px solid #ed3d7d;
}

nav .items .item.orange:hover {
  border-bottom: 3px solid #ff4900;
}

nav .items .item.green:hover {
  border-bottom: 3px solid #90d200;
}

nav .items .item.dark-blue:hover {
  border-bottom: 3px solid #3f3f42;
}
.bell {
  position: relative;
  top: 6px;
}
nav .items .logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

nav .items .small {
  fill: #3f3f42;
}

.heading.centered-parent {
  background-color: #fff;
}

.centered-parent {
  width: 100%;
  display: flex;
  justify-content: center;
}

.centered {
  max-width: 80rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 0;
}

.live {
  float: left;
  display: flex;
  gap: 5px;
  align-items: center;
  color: var(--sharp-blue);
  width: 98px;
  height: 34px;
  margin-right: 10px;
}

.live .circle-wrapper {
  display: flex;
  align-items: center;
  height: 28px;
  width: 28px;
}
.live svg {
  display: inline-block;
  height: 100%;
}

.live .pulsing-circle {
  animation: 1s linear 1s infinite alternate pulsate;
}

.live .text {
  display: inline-block;
  font-weight: 700;
  font-size: inherit;
}

@keyframes pulsate {
  from {
    opacity: 0.9;
  }
  to {
    opacity: 0.2;
  }
}

.row {
  display: flex;
  gap: 20px;
}

.row > * {
  margin: 0;
  padding: 0;
}
.card.main {
  flex: 1 0 50%;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  background-color: #fff;
  width: 616px;
  padding-bottom: 20px;
  --card-hover-color: #696969;
  --card-hover-text-decoration: none;
  flex: 1 1 auto;
}

.card .body {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card .image {
  width: 100%;
}
.card .heading {
  font-size: 30px;
  margin: 0;
  padding: 0 10px;
  color: var(--card-hover-color);
  text-decoration: var(--card-hover-text-decoration);
}

.card .category {
  padding-left: 10px;
  font-size: 14px;
}

.card .bottom-text {
  display: flex;
  align-items: center;
  gap: 6px;
}

.card .bottom-text svg {
  fill: #696969;
}

.middle {
  display: flex;
  gap: 20px;
}

.middle .card {
  width: 405px;
}

.card:hover {
  --card-hover-color: var(--sharp-blue);
  --card-hover-text-decoration: underline;
}

.card .heading {
  color: #3f3f42;
}
.heading.md {
  font-size: 18px;
  line-height: 22px;
}

.heading.md .live {
  width: 63px;
  height: 22px;
  margin-right: 2px;
}

.heading.md .circle-wrapper {
  width: 18px;
  height: 18px;
}

.row {
  display: flex;
  gap: 15px;
}

.row > .heading {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #3f3f42;
}
.row > .heading > svg {
  width: 14px;
  height: 14px;
  fill: currentColor;
}

.row .heading:hover {
  color: var(--sharp-blue);
  text-decoration: underline;
}

section.sport {
  background-image: url("images/sport-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

section.coronavirus-cases {
  background-image: url("images/dark-blue-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.coronavirus-cases .items {
  display: flex;
  justify-content: space-between;
}

.coronavirus-cases .item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.coronavirus-cases .item .title {
  line-height: 16px;
  color: #fff;
  font-weight: 400;
  font-size: 28px;
}

.coronavirus-cases .item .postcode {
  border: none;
  outline: none;
  width: 170px;
  height: 40px;
  color: #006def;
  font-size: 0.9rem;
  line-height: 1.375;
  background-color: #ffffff;
  padding: 0 10px;
}

.coronavirus-cases .item .postcode:hover {
  text-decoration: underline;
}

.coronavirus-cases .image {
  background-image: url("images/coronavirus-background.jpg");
  width: 411px;
  height: 126px;
  background-position: right bottom;
  background-size: contain;
  background-repeat: no-repeat;
}

section.tv {
  background-image: url("images/pink-colourful-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

section.bbc-100 {
  background-image: url("images/black-background.jpg");
}

.bbc-100 .image {
  background-image: url("images/rainbow-window.jpg");
  width: 411px;
  height: 126px;
  background-position: right bottom;
  background-size: contain;
  background-repeat: no-repeat;
}

.bbc-100 .items {
  display: flex;
  justify-content: space-between;
}

.bbc-100 .item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.bbc-100 .item .title {
  line-height: 16px;
  color: #fff;
  font-weight: 400;
  font-size: 28px;
}

.bbc-100 .item .archive {
  font-weight: 400;
  border: none;
  outline: none;
  width: 170px;
  height: 40px;
  color: #006def;
  font-size: 1rem;
  line-height: 1.375;
  background-color: #ffffff;
  padding: 0 10px;
}

.bbc-100 .item .archive:hover {
  text-decoration: underline;
}

.uk .card .play-square {
  position: relative;
  display: flex;
  align-items: center;
}

.uk .card .square {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: absolute;
  top: -68px;
  left: 0;
  width: 48px;
  height: 48px;
  background-color: #fff;
}

.uk .card .square svg {
  fill: #282828;
  width: 24px;
  height: 24px;
}

.tv .card .play-square {
  position: relative;
  display: flex;
  align-items: center;
}

.tv .card .square {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: absolute;
  top: -68px;
  left: 0;
  width: 48px;
  height: 48px;
  background-color: #fff;
}

.tv .card .square svg {
  fill: #282828;
  width: 24px;
  height: 24px;
}

section.food {
  background-image: url("images/food-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.missed .card .play-square {
  position: relative;
  display: flex;
  align-items: center;
}

.missed .card .square {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: absolute;
  top: -68px;
  left: 0;
  width: 48px;
  height: 48px;
  background-color: #fff;
}

.missed .card .square svg {
  fill: #282828;
  width: 24px;
  height: 24px;
}

/*.missed .card .square .radio {*/
/*fill: #282828;*/
/*width: 24px;*/
/*height: 24px;*/
/*}*/

.behind-headlines .card .play-square {
  position: relative;
  display: flex;
  align-items: center;
}

.behind-headlines .card .square {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: absolute;
  top: -68px;
  left: 0;
  width: 114px;
  height: 64px;
  background-color: #fff;
}

.behind-headlines .card .square .play {
  fill: #282828;
  width: 24px;
  height: 24px;
}

.behind-headlines .card .square .radio {
  fill: #282828;
  width: 24px;
  height: 24px;
}

section.lottery {
  background-image: url("images/blue-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.lottery .image {
  background-image: url("images/lottery-image.jpg");
  width: 411px;
  height: 126px;
  background-position: right bottom;
  background-size: contain;
  background-repeat: no-repeat;
}

.lottery .items {
  display: flex;
  justify-content: space-between;
}

.lottery .item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.lottery .item .title {
  line-height: 16px;
  color: #fff;
  font-weight: 400;
  font-size: 28px;
}

.lottery .item .paragraph {
  font-size: 16px;
  line-height: 22px;
  color: #fff;
}

.lottery .item .results {
  font-weight: 700;
  border: none;
  outline: none;
  width: 110px;
  height: 40px;
  color: #006def;
  font-size: 1rem;
  line-height: 1.375;
  background-color: #ffffff;
  padding: 0 10px;
}

.lottery .item .results:hover {
  text-decoration: underline;
}

section.winter-olympics {
  background-image: url("images/ice-cube-background.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.winter-olympics .heading {
  color: #fff;
}

.winter-olympics .card {
  background-color: #282828;
}

.winter-olympics .card .play-square {
  position: relative;
  display: flex;
  align-items: center;
}

.winter-olympics .card .square {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -68px;
  left: 0;
  width: 48px;
  height: 48px;
  background-color: #282828;
}

.winter-olympics .card .square svg {
  fill: #fff;
  width: 24px;
  height: 24px;
}
section.hang-up {
  position: relative;
  background-image: url(images/bin-phone-bg.jpg);
  background-color: #010101;
  background-repeat: no-repeat;
  background-position: 80% 0;
}

section.hang-up::after {
  content: "";
  position: absolute;

  background-image: linear-gradient(#232227, #000);
  filter: blur(32px);
  top: 0;
  bottom: 0;
  right: 0;
  width: 20%;
}
a.hang-up:hover .headline {
  text-decoration: underline;
}

a.hang-up {
  width: 50%;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  padding: 100px 0;
}

a.hang-up .button {
  background-color: #eeeeee;
  color: #000;
  text-transform: uppercase;
  font-size: 0.75rem;
  padding: 0.25rem;
  font-weight: 500;
  letter-spacing: 0.7px;
}

a.hang-up .headline {
  font-size: 2.75rem;
  line-height: 1.09;
  font-weight: 700;
}
a.hang-up .category {
  position: relative;
}
a.hang-up .line {
  position: absolute;
  top: -10px;
  background-color: #eeeeee;
  height: 3px;
  width: 7%;
}

section.this-week {
  background-image: url(images/this-week-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

section.this-week .play-card {
  position: relative;
}
section.this-week .play {
  position: absolute;
  bottom: 120px;
  background-color: #fff;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 9px;
}

section.this-week .play svg {
  fill: #3f3f42;
  width: 24px;
  height: 24px;
}

.slavery {
  background-color: #fff;
}
.slavery .centered {
  gap: 50px;
}

.slavery .icon {
  width: 112px;
  height: 112px;
  object-fit: cover;
}

.slavery .icon-box {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.slavery .icon-box .text {
  font-size: 1.2rem;
  font-weight: 700;
}

.slavery .icons {
  justify-content: space-between;
}

.slavery .icon-box:hover .text {
  text-decoration: underline;
  color: var(--sharp-blue);
}

.slavery .link {
  text-decoration: underline;
  font-weight: 700;
}

footer {
  background-color: #282828;
  color: #fff;
  font-weight: 600;
}

footer .row.nav {
  border-bottom: 1px solid;
  padding: 20px 0;
  border-color: #717171;
}
.footer-col {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-left: 1px solid;
  border-color: #717171;
  padding: 20px;
  flex: 1 1 16%;
}

.footer-col .link:hover {
  text-decoration: underline;
}

.footer-col:nth-of-type(1) {
  border: none;
  padding-left: 0;
}

footer .copyright {
  font-weight: 400;
}

footer .copyright + a:hover {
  text-decoration: underline;
}
